<!DOCTYPE html>
<html>
<head>
	<title>computing.codes</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>computing<span>.codes</span></h1>
    </header>
    <section>
		{% block detail %} {% endblock %}
        <form action="{{url_for('home.login')}}" method="post" id="login_form">
		    <h1>Login</h1>
            <ul>
			    <li><label for="email">E-mail</label><input id="email" name="email" type="text" size="16"></li>
                <li><label for="password">Password</label><input id="password" name="password" type="password" size="16"></li>
                <li><label class="button"><input id="submit" type="submit" value="Login"></label></li>
                </ul>
                
                <script type="text/javascript">
                (function ()
                {
                    var la = document.getElementsByTagName('label')
                    la[0].style.display = 'none'
            	    la[1].style.display = 'none'
            	    var ip = document.getElementsByTagName('input')
            	    ip[0].value="E-mail address"
            	    ip[0].style.color = '#ccc'
            	    ip[0].onfocus = function(e)
            	                    {
            	                        if (this.value == "E-mail address")
            	                        {
            	                            this.value = ""
            	                            this.style.color = 'black'
            	                        }
                                    }
            	    ip[0].onblur =  function(e)
            	                    {
            	                        if (this.value == "")
            	                        {
            	                            this.value="E-mail address"
            	                            this.style.color='#ccc'
            	                        }
            	                    }
            	    ip[1].value="Password"
            	    ip[1].type="text"
            	    ip[1].style.color = '#ccc'
            	    ip[1].onfocus = function(e) 
            	                    { 
            	                        if (this.value == "Password")
            	                        {
            	                            this.type="password"
            	                            this.value=""
            	                            this.style.color='black'
            	                        }
                                    }
            	    ip[1].onblur =  function(e) 
            	                    {
            	                        if (this.value == "")
            	                        {
            	                            this.type="text"
            	                            this.value="Password"
            	                            this.style.color='#ccc'
                                        }
                                    }
            })();
            </script>
		</form>
    </section>
</body>
</html>