<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %} &raquo; computing.codes</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>computing<span>.codes</span></h1>
		
		<nav>
		<ul><li><a href="{{url_for('home.overview')}}">home</a></li><li><a href="#">link 1</a></li><li><a href="#">link 2</a></li><li><a href="#">link 3</a></li></ul>
		</nav>
		
		{% for message in get_flashed_messages(True) %}
        <div class="flashmessage {{message[0]}}">{{ message[1] }}</div>
        {% endfor %}
    </header>
    <section>
		{% block content %} {% endblock %}
    </section>
</body>
</html>