{% extends "layout.html" %}
    {% block title %}{{project_details['title']}}{% endblock %}
    {% block content %}
    <h1> {{project_details['title']}} <span>{{project_details['project_code']}}</span></h1>
    
    <p>{{project_details['description']}}</p>
    
    ... files ...
    
    <form action="{{url_for('note.upload')}}" method="post" id="upload">
    <input id="project_code" name="project_code" type="hidden" value="{{project_details['project_code']}}">
    <ul>
        <li><label for="file">Upload a File</label><input id="file" name="file" type="file" size="16"> <label class="button"><input id="submit" type="submit" value="Upload"></label></li>
    </ul>
    
    {% endblock %}